.header {
    padding: 1px;
    text-align: center;
    background: #730606;
    color: white;
    font-size: 20px;
}

@media (min-width: 350px) and (max-width: 80em) {
  body {
    background-color: greenyellow;
  }}

@media (min-width: 300px) and (max-width: 60em) {
  body {
    background-color: blue;
  }}

@media (min-width: 200px) and (max-width: 50em) {
  body {
    background-color: purple;
  }}

@media (min-width: 100px) and (max-width: 30em) {
  body {
    background-color: pink;
  }}

@media (min-width: 50px) and (max-width: 10em) {
  body {
    background-color: orange;
  }}